{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'general-style.css' %}">

    <script type="text/javascript">
        window.vitrin_data = {{data|safe}};
        console.log(window.vitrin_data);
    </script>

    <style>
        {% if vitrin %}
        {% for v in vitrin %}
        {{v.style}}
        {% endfor %}
        {% endif %}

    </style>
    
    <title>Education</title>
</head>
<body>

<div id="template">  

</div>



    <script src="{% static 'education.js' %}"></script>
</body>
</html>