{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        window.vitrin_data = {{data|safe}};
        console.log(window.vitrin_data);
        console.log(window.vitrin_data[0].fields.name);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <link rel="stylesheet" href="{% static 'general-style.css' %}">
    <link rel="stylesheet" href="{% static 'home-style.css' %}">

    <title>Document</title>
    <style>
        
    </style>
</head>
<body>


<div id="template">

</div>

    <script src="{% static 'main.js' %}"></script>
</body>
</html>